hello

In [ ]:
print("hello")

In [ ]:
round(3.6)

In [ ]:
print("h's"+5)

In [27]:
print(type(str(100)))
print(str(100))

<class 'str'>
100

In [ ]:
print('''it's \ a "kind of" sunny day''')

In [31]:
name=input("ur name")
print(len(name))
age=22
print("hiii")
print(f'hii {name} your age is {age}')

5
hiii
hii sakhi your age is 22

In [34]:
age=int(input("birth year please"))
print("your age is",2024-age)

your age is 15

In [36]:
name=input("ur name please")
secret=input ("ur secret")
print(f'hii {name} ur secret is {len(secret)} long and password is {len(secret)*"*"}')

hii sakshi ur secret is 6 long and password is ******

In [ ]:
string="hello this is sakshi"
print(string[:10:2])
li1=["hii",1,3,4,True]
print(li1[0::2])

hloti
['hii', 3, True]

In [5]:
l1=[1,2,22,2,2,3,4,5]
l1.append(100)
l1.sort()
print(l1)

[1, 2, 2, 2, 3, 4, 5, 22, 100]

In [11]:
print("truee") if False else print("False")

False

In [12]:
a,b,*something,c=[1,2,2,4,5,6,6,]
print(a,b,c,something)

1 2 6 [2, 4, 5, 6]

In [21]:
sa=1
sa="hii"
print(sa)

hii

In [26]:
dictionary={
    "name": "John",
    "age": 30,
    "city": "New York"
}
print(dictionary.get('ageq',8))

8

In [37]:
user={
    "name":"hii",
    "age":20,
    "city":"delhi"
    }
user2=user
user2["78"]="232"
print(user)
print("name1" in user)
print(user2)
# print(type(user.keys()))
# print(user.values())
# print(user.items())

{'name': 'hii', 'age': 20, 'city': 'delhi', '78': '232'}
False
{'name': 'hii', 'age': 20, 'city': 'delhi', '78': '232'}

In [40]:
st={1,223,445,2,2,}
print(st)

{1, 2, 445, 223}

In [47]:
s1={1,2,3}
s2={4,5,6,1}
s1.add(4)
print( 5 in s1)
print(s1.isdisjoint(s2))
print(s1.difference(s2))
print(s1.difference(s2).union(s2.difference(s1)))

False
False
{2, 3}
{2, 3, 5, 6}

#conditional statemet

In [52]:
is_old=False
is_licenced=True
if is_old:
    print("You are old")
elif is_licenced:
    print("You are licenced")
else:
    print('checked by else')

You are licenced

In [53]:
is_old=False
is_licenced=True
if is_old and is_licenced:
    print("You are old")
elif is_licenced:
    print("You are licenced")
else:
    print('checked by else')

You are licenced

#truthy and falsy

In [59]:
is_old="hii"
is_licenced=None
if is_old:
    print("You are old")
elif is_licenced:
    print("You are licenced")
else:
    print('checked by else')

You are old

# ternary operator

In [62]:
auto_asign=False
name="sakshi" if auto_asign else "none"
print(name)
print("auto_asign is true") if auto_asign else print("auto_asign is false")

none
auto_asign is false

##exercise

In [ ]:
is_magician=False
is_expert=False
if is_magician and is_expert:
    print("You are a magician and an expert!")
elif is_magician and  not is_expert:
    print("You are a magician but not an expert.")
elif not(is_magician):
    print("You are not a magician.")

You are not a magician.

# is vs ==

In [83]:
print([]==[])
print("[]==[]",[] is [])
print("[1,2,3]==[1,2,3]",[1,2,3] == [1,2,3])
print("''==0",''==0)
print('1'== '1')
print("1==True",1==True)

True
[]==[] False
[1,2,3]==[1,2,3] True
''==0 False
True
1==True True

In [84]:
dic={
    "name":"sakshi",
    "age":20,
    "city":"delhi"

}
for item,key in dic.items():
    print(f"{key}:{item}")

sakshi:name
20:age
delhi:city

In [85]:
lis=[1,2,3,4,5,6,7,8,9]
result=0
for item in lis:
    result+=item
print(result)

45

In [93]:
pikcel=[
    [0,0,0,1,0,0,0],
    [0,0,1,1,1,0,0],
    [0,1,1,1,1,1,0],
    [1,1,1,1,1,1,1],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0],
    [0,0,0,1,0,0,0],
]
def show_tree():
 for row in pikcel:
    for p in row:
        if p==1:
            print("*",end='')
        else:
            print(" ",end='')
    print('')#need new line after rows
show_tree() 
show_tree()

   *
  ***
 *****
*******
   *
   *
   *
   *
  ***
 *****
*******
   *
   *
   *

# functions and parameters and arguments

In [91]:
l1=['a','b','c','c','d','e','d']
l2=[]
for i in l1:
    if(l1.count(i)>1):
        if i not in l2:
            l2.append(i)
            print(i)

print(l2)

c
d
['c', 'd']

In [94]:
def say_hello(name,msg):
    print(f"Hello {name}, {msg}")
say_hello("sakhsi","nice to meet you")

Hello sakhsi, nice to meet you

# return

In [98]:
def sum(num1,num2):
    def sum1():
        print(num1,num2)
        return num1+num2
    return sum1
sum1 = sum(3,5)
print(sum1())

3 5
8

## docString

In [100]:
def fun(a):
    '''this function is dummy function'''
    print(a)
fun("ghjk")
print(fun.__doc__)

ghjk
this function is dummy function

#*args and **kargs

In [110]:
def fun(*args,**kargs):
    print(*args)
    print(kargs)
    print(args)
fun(1,2,3,4,4,name="dsdf",age="sdsf")

1 2 3 4 4
{'name': 'dsdf', 'age': 'sdsf'}
(1, 2, 3, 4, 4)

highest even

In [114]:
def highest_even(li):
    """Return the highest even number in the list."""
    max=0
    for i in li:
        if i%2==0 and i>max:
            max=i
    return max
print(highest_even([1,2,3,49,5,6,7,8]))

8

## walrus operator

In [119]:
a="hellloooooooooooooo"
if((b:=len(a))>6):
    print(b)

19

scope

In [120]:
if True:
    a=10
def fun():
    print(a)
fun()

10

global

In [124]:
total=0
def count():
    global total
    total+=1
    return total
print(count())
print(count())

1
2

In [125]:
#dependency injection
total=0
def count(total):
    total+=1
    return total
print(count(count(count(total))))

3

non local

In [126]:
def outer():
    x="outer"
    def inner():
        nonlocal x
        x="inner"
    inner()
    print("outer: ",x)
outer()

outer:  inner